<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
    package="com.android.pixelconfig.overlay.vayu">
    
    <application android:label="PixelConfigOverlayVayu" android:hasCode="false"/>
    <overlay 
        android:priority="1" 
        android:targetPackage="android" 
        android:isStatic="true"/>
</manifest>
